$text-cycler--vertical-offset: 30px;
$text-cycler--scale-from: 0.1;

.text-cycle {
  display: inline-block;
  min-height: 1.2rem;
  position: relative;

  &__copy {
    color: $light-blue;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale($text-cycler--scale-from) translateY($text-cycler--vertical-offset * -1);
    transform-origin: 0 50%;
    transition: color 0.4s, opacity 0.4s, transform 0.4s, visibility 0.4s;
    visibility: hidden;
    white-space: nowrap;

    &__period {
      color: $light-blue;
    }

    &--placeholder {
      position: static;
      transform: scale(1) translateY(0);
    }

    &--active {
      color: $dark-blue;
      opacity: 1;
      visibility: visible;
    }

    &--entering {
      transform: scale(1) translateY(0);
    }

    &--leaving {
      transform: scale($text-cycler--scale-from) translateY($text-cycler--vertical-offset);
    }
  }
}
