body {
	background: #fff;
}

.icon {
	display: inline-block;

	&__chevron {
		border: 2px solid rgba(#000, 0.2);
		border-left: none;
		border-top: none;
		display: block;
		height: 7px;
		opacity: 0;
		position: absolute;
		width: 7px;
	}

}
