.contact-methods {
	@include font-size(0);
	margin-top: 30px;

	&__item {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border: 2px solid transparent;
		border-radius: 100%;
		display: inline-block;
		margin: 0 5px 0 0;
		opacity: 0.3;
		transition: background 0.5s, border 0.5s, opacity 0.5s;

		&:hover {
			border: 2px solid rgba(#000, 0.15);
			opacity: 0.5;
		}

		&:active {
			background-color: rgba(#000, 0.15);
		}

		&:last-child {
			margin-right: 0;
		}

		@each $method in github, dribbble, twitter, linkedin, email {

			&--#{$method} {
				background-image: image-url('social-media/#{$method}.svg');
			}

		}

		a {
			display: block;
			height: 30px;
			text-indent: -9999em;
			width: 30px;
		}

	}

}
