.header {
	border-top: solid 5px $green;
	box-sizing: border-box;
	display: table;
	height: 100%;
	vertical-align: middle;
	width: 100%;

	&__introduction {
		display: table-cell;
		opacity: 0;
		position: relative;
		transition: opacity 1s;
		vertical-align: middle;

		.is-loaded & {
			opacity: 1;
		}

	}

	.logo {
		display: block;
		margin: 0 auto 60px auto;
		max-width: 142px;
		position: relative;
		width: 33.3333%;

		&:after {
			content: ' ';
			display: block;
			height: 0;
			padding-bottom: 140px / 142px * 100%;
			width: 100%;
		}

		&__image {
			backface-visibility: hidden;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			transform: translateY(40%);
			transition: transform 1s ease 2.5s;
			width: 100%;

			.is-loaded & {
				transform: none;
			}

			&--ring {
				backface-visibility: hidden;
				opacity: 0;
				transform: scale(0.01);
				transition: opacity 0.25s ease 0.5s, transform 1s ease 0.5s;
				transform-origin: 50% 50%;

				.is-loaded & {
					opacity: 1;
					transform: none;
				}

			}

			&--monogram {
				backface-visibility: hidden;
				opacity: 0;
				transition: opacity 2s ease 1.5s;

				.is-loaded & {
					opacity: 1;
				}

			}

		}

	}

	h3 {
		backface-visibility: hidden;
		opacity: 0;
		transform: translateY(-10px);
		transition: opacity 1s ease 2.5s, transform 1s 2.5s;

		.is-loaded & {
			opacity: 1;
			transform: none;
		}

	}

	h2 {
		backface-visibility: hidden;
		margin-bottom: 10px;
		opacity: 0;
		transform: translateY(-10px);
		transition: opacity 1s ease 3s, transform 1s 3s;

		.is-loaded & {
			opacity: 1;
			transform: none;
		}

	}

	h1 {
		backface-visibility: hidden;
		opacity: 0;
		transform: translateY(-10px);
		transition: opacity 1s ease 3.5s, transform 1s 3.5s;

		.is-loaded & {
			opacity: 1;
			transform: none;
		}

	}

	.icon {

		&--scroll-down {
			border: 2px solid transparent;
			border-radius: 100%;
			bottom: 20px;
			cursor: pointer;
			height: 40px;
			left: 50%;
			opacity: 0;
			position: absolute;
			transition: border 0.5s, background 0.5s, opacity 1s ease 4s;
			transform: translateX(-50%);
			width: 40px;

			.is-loaded & {
				opacity: 1;
			}

			&:hover {
				border: 2px solid rgba(#000, 0.05);

				.icon {

					&__chevron {
						border-color: $green;
					}

				}

			}

			&:active {
				background-color: rgba(#000, 0.05);
			}

			.icon {

				&__chevron {
					left: 50%;
					transform: translate(-50%, 0) rotate(45deg);
					transition: border 0.25s;

					&--first,
					&--middle,
					&--last {
						animation-name: pulse;
						animation-duration: 3s;
						animation-iteration-count: infinite;
					}

					&--first {
						animation-delay: 1s;
						bottom: 65%;
					}

					&--middle {
						animation-delay: 2s;
						bottom: 55%;
					}

					&--last {
						animation-delay: 3s;
						bottom: 45%;
					}

				}

			}

		}

	}

}
