.project {
	padding: 100px 0;

	&:nth-child(odd) {
		background: #fafafa;
		border-bottom: 1px solid #f4f4f5;
		border-top: 1px solid #f4f4f5;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__description {
		margin: 0 auto;
		max-width: 500px;
		text-align: center;
	}

	&--strife-admin {

		.showcase {

			&__screenshot {

				&:after {
					content: ' ';
					display: block;
					padding-bottom: 809px / 1386px * 100%;
				}

			}

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/strife-admin/primary.png');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/strife-admin/secondary-a.png');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/strife-admin/secondary-b.png');
								}

							}

						}

					}

				}

			}

		}

	}

	&--strife-b {

		.showcase {

			&__screenshot {

				&:after {
					content: ' ';
					display: block;
					padding-bottom: 1432px / 1724px * 100%;
				}

			}

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/strife-b/primary.jpg');
							}

						}

					}

				}

			}

		}

	}

	&--jui {

		.showcase {

			&__screenshot {

				&:after {
					content: ' ';
					display: block;
					padding-bottom: 1000px / 1012px * 100%;
				}

			}

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/jui/primary.png');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/jui/secondary-a.png');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/jui/secondary-b.png');
								}

							}

						}

					}

				}

			}

		}

	}

	&--twitter {

		.showcase {

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/twitter/primary.png');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/twitter/secondary-a.png');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/twitter/secondary-b.png');
								}

							}

						}

					}

					&--tertiary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/twitter/tertiary-a.png');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/twitter/tertiary-b.png');
								}

							}

						}

					}

				}

			}

		}

	}

	&--amway {

		.showcase {

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/amway/primary.png');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/amway/secondary-a.png');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/amway/secondary-b.png');
								}

							}

						}

					}

				}

			}

		}

	}

	&--university-of-phoenix {

		.showcase {

			&__screenshot {

				&:after {
					content: ' ';
					display: block;
					padding-bottom: 709px / 1088px * 100%;
				}

			}

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/university-of-phoenix/primary.png');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/university-of-phoenix/secondary-a.png');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/university-of-phoenix/secondary-b.png');
								}

							}

						}

					}

				}

			}

		}

	}

	&--zimmer-tmt {

		.showcase {

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/zimmer-tmt/primary.jpg');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/zimmer-tmt/secondary-a.jpg');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/zimmer-tmt/secondary-b.jpg');
								}

							}

						}

					}

				}

			}

		}

	}

	&--zimmer-kit-visualizer {

		.showcase {

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/zimmer-kit-visualizer/primary.jpg');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/zimmer-kit-visualizer/secondary-a.jpg');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/zimmer-kit-visualizer/secondary-b.jpg');
								}

							}

						}

					}

				}

			}

		}

	}

	&--roland-foods {

		.showcase {

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/roland-foods/primary.jpg');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/roland-foods/secondary-a.jpg');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/roland-foods/secondary-b.jpg');
								}

							}

						}

					}

				}

			}

		}

	}

	&--ai-surprise {

		.showcase {

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/ai-surprise/primary.png');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/ai-surprise/secondary-a.png');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/ai-surprise/secondary-b.jpg');
								}

							}

						}

					}

				}

			}

		}

	}

	&--strife-a {

		.showcase {

			&__screenshot {

				&:after {
					content: ' ';
					display: block;
					padding-bottom: 878px / 1178px * 100%;
				}

			}

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/strife-a/primary.jpg');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/strife-a/secondary-a.jpg');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/strife-a/secondary-b.jpg');
								}

							}

						}

					}

				}

			}

		}

	}

	&--client-login {

		.showcase {

			&__screenshot {

				&:after {
					content: ' ';
					display: block;
					padding-bottom: 747px / 1002px * 100%;
				}

			}

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/client-login/primary.png');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/client-login/secondary-a.png');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/client-login/secondary-b.png');
								}

							}

						}

					}

				}

			}

		}

	}

	&--zimmer-microsite {

		.showcase {

			&__screenshot {

				&:after {
					content: ' ';
					display: block;
					padding-bottom: 1001px / 1343px * 100%;
				}

			}

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/zimmer-microsite/primary.jpg');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/zimmer-microsite/secondary-a.jpg');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/zimmer-microsite/secondary-b.jpg');
								}

							}

						}

					}

				}

			}

		}

	}

	&--facebook {

		.showcase {

			&__screenshot {

				&:after {
					content: ' ';
					display: block;
					padding-bottom: 895px / 1200px * 100%;
				}

			}

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/facebook/primary.jpg');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/facebook/secondary-a.jpg');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/facebook/secondary-b.jpg');
								}

							}

						}

					}

				}

			}

		}

	}

	&--ppw {

		.showcase {

			&__screenshot {

				&:after {
					content: ' ';
					display: block;
					padding-bottom: 815px / 1093px * 100%;
				}

			}

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/ppw/primary.jpg');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/ppw/secondary-a.jpg');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/ppw/secondary-b.jpg');
								}

							}

						}

					}

				}

			}

		}

	}

	&--zimmer-kit-builder {

		.showcase {

			&__screenshot {

				&:after {
					content: ' ';
					display: block;
					padding-bottom: 900px / 1250px * 100%;
				}

			}

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/zimmer-kit-builder/primary.jpg');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/zimmer-kit-builder/secondary-a.jpg');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/zimmer-kit-builder/secondary-b.jpg');
								}

							}

						}

					}

				}

			}

		}

	}

	&--zimmer-kinematics {

		.showcase {

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/zimmer-kinematics/primary.png');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/zimmer-kinematics/secondary-a.jpg');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/zimmer-kinematics/secondary-b.png');
								}

							}

						}

					}

				}

			}

		}

	}

	&--express-coc {

		.showcase {

			&__screenshot {

				&:after {
					content: ' ';
					display: block;
					padding-bottom: 480px / 640px * 100%;
				}

			}

			&.is-visible {

				.showcase__item {

					&--primary {

						.showcase__screenshot {

							&:after {
								background-image: image-url('work/express-coc/primary.png');
							}

						}

					}

					&--secondary {

						&--a {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/express-coc/secondary-a.png');
								}

							}

						}

						&--b {

							.showcase__screenshot {

								&:after {
									background-image: image-url('work/express-coc/secondary-b.png');
								}

							}

						}

					}

				}

			}

		}

	}

}
